{% extends 'accounts/main.html' %}
{% load static %}

    {% block title %}
      Удаление всех данных о транзакции
    {% endblock %}


{% block content %} 

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			
			<p>Вы уверены что нужно удалить регистрацию оплаты,<br> произведенную пациентом:
			<br>
			<br>
			{{item}}тг ?</p>

			<form action="{% url 'payment_delete' item.id %}" method="POST">
			<br>

				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'home' %}">Вернуться</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>


{% endblock %}