<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black mb-3" id="total-patients">
				<div class="card-header">
					<h5 class="card-title">Всего пациентов</h5>
				</div>
				<div class="card-body">
					<h6 class="card-title">{{ total_patients }}</h6>
				</div>
			</div>
		</div>
	</div>
		
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black mb-3" id="patients-treated">
				<div class="card-header">
					<h5 class="card-title">Всего врачей</h5>
				</div>
				<div class="card-body">
					<h6 class="card-title">{{ total_doctors }}</h6>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black mb-3" id="patients-dissapeared">
				<div class="card-header">
					<h5 class="card-title">Всего транзакций</h5>
				</div>
				<div class="card-body">
					<h6 class="card-title">{{ total_payments }}</h6>
				</div>
			</div>
		</div>
	</div>
</div>
